<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="io" class="com.sv.medialibrary2022.ui.UserIOConsoleImpl" />
    <bean id="dao" class="com.sv.medialibrary2022.dao.MediaLibraryDaoMemoryImpl" />
    <bean id="auditDao" class="com.sv.medialibrary2022.dao.MediaLibraryAuditDaoImpl" />
    <bean id="view" class="com.sv.medialibrary2022.ui.MediaLibraryView">
        <constructor-arg ref="io" />
    </bean>
    <bean id="service" class="com.sv.medialibrary2022.servicelayer.ServiceLayerImpl">
        <constructor-arg ref="dao" />
        <constructor-arg ref="auditDao" />
    </bean>
    <bean id="controller" class="com.sv.medialibrary2022.controller.MediaLibraryController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
            
    </bean>



</beans>